@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center>
        <h1>Welcome To Tall Tine Lodge</h1>

        <p class="lead">Where hunting isn't just a sport or a hobby, it's a calling to something greater.</p>
    </center>
</div>
<center>
    <p>Welcome to Tall Tine Lodge, Where our customers are our family.</p>
</center>
<div>
    <center>
        <img src="~/Content/inside-lodge.jpg" align="middle" />
    </center>
</div>